.footer {
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  color: var(--black);
  display: flex;
  list-style: none;
  flex-flow: wrap;
  column-gap: 52px;
  grid-row-gap: 16px;
  padding-top: 170px;
}

@media screen and (max-width: 640px) {
  .footer {flex-direction: column; gap: 8px; padding-top: 0;}
}