.link {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  gap: 12px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  padding: 16px 16px 16px 0px;
  align-items: center;
}

.link:hover {
  opacity: 0.4;
  transition: all 0.1s ease-out;
}
