.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 59.92%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  margin-bottom: 100px;
}

.link {
  font-size: var(--text);
  transition: all 0.1s ease-out;
}

.link:hover {
  opacity: 0.4;
  transition: all 0.1s ease-out;
}
