.project {
  height: 390px;
  margin-bottom: 24px;
  border-bottom: 1.5px var(--grey) solid;
}

.project:hover {
  cursor: pointer;
}

.header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectName {
  font-size: var(--h2);
}

.body {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
}

.year {
  opacity: 0.4;
}

.link {
  opacity: 0.4;
}
.text {
  padding-bottom: 32px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 61%;
  
}
