.project {

  margin-bottom: 24px;  
  padding-bottom: 32px;
}

.project:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.projectName {
  font-size: 36px;
}

.projectText {
  font-size: 36px;
  line-height: 120%;
  color: var(--grey40);
}

.body {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
}

.year {
  opacity: 0.4;
}

.link {
  opacity: 0.4;
}
.description {
  
  padding-bottom: 64px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  max-width: 61%;
}

.projectName {
  padding-right: 64px;
}

.locked {
  cursor: not-allowed;
}

.locked:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 428px) {
  .header {
    
    padding-bottom: 0;
  }
  .body {
    padding-top: 8px;
    flex-direction: column;
  }
  .description {
    max-width: 100%;
    padding-bottom: 0;
  }
  .projectName {
    font-size: var(--h1);
  }

  .projectText {
    font-size: var(--text);
  }
}
