.tag {
  font-size: var(--caption);
  color: #a273fe;
  font-weight: 600;
  padding: 5px 8px 7px 8px;
  background-color: rgba(162, 115, 254, 0.1);
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 4px;
}
