.tag {
  font-size: var(--caption);
  color: var(--black);
  font-weight: 600;
  padding: 5px 8px 5px 8px;
  background-color: rgba(25, 33, 36, 0.1);
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 4px;
  line-height: 1.3;
}
