@font-face {
  font-family: PolySans;
  src: url(../public/fonts/PolySansTrial-Slim.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #161e23;
  --h1: 48px;
  --text: 28px;
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: PolySans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 1024px;
  -webkit-font-smoothing: antialiased;
  width: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: var(--text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  body {padding: 0 64px}
}

@media screen and (max-width: 428px) {
  :root {--h1: 28px; --text: 20px}
  body {padding: 0 24px}
}
