@font-face {
  font-family: PolySans;
  src: url(../public/fonts/PolySansTrial-Slim.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PolySans;
  src: url(../public/fonts/PolySansTrial-Median.otf);
  font-weight: 600;
  font-style: normal;
}


:root {
  --black: #161e23;
  --grey: rgba(22, 30, 35, 0.2);
  --grey40: rgba(22, 30, 35, 0.4);
  --h1: 48px;
  --h2: 36px;
  --text: 28px;
  --caption: 16px;
}

::selection {
  background-color: var(--black);
  color: #fff;
  text-shadow: none;
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: PolySans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 1024px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  
}

p {
  font-size: var(--text);
  line-height: 140%;
}

h2 {
  font-size: var(--text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0 64px;
  }
}

@media screen and (max-width: 428px) {
  :root {
    --h1: 28px;
    --text: 20px;
  }
  body {
    padding: 0 24px;
  }
}
